.head {
  font-size: 4rem;
  padding: 1rem;
  border-bottom: 1px solid #d23e00;
}

.btn {
  border-radius: 5px;
  padding: 0.7rem 3rem;
  font-size: 1.8rem;
  background: #ffff;
  color: #d23e00 !important;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-transform: uppercase;
}

.btn:hover {
  background: #e9e9e9;
  color: #d23e00;
}

.para {
  font-size: 1.5rem;
}

.btn2 {
  border-radius: 5px;
  border: none;
  height: 4rem !important;
  width: 20rem !important;
  font-size: 1.8rem;
  background: #d23e00;
  color: #ffff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 0.7rem 3rem;
  text-transform: uppercase;
}

.btn2:hover {
  background: #922c00;
  color: #fff;
}

.btn3 {
  font-weight: bold;
  background: #f0f0f0;
  border: none;
  color: #d23e00;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1.8rem;
  text-decoration: none;
  display: block;
  padding: 1.5rem 0;
  height: inherit;
  width: inherit;
  text-transform: uppercase;
  text-align: center;
}

.btn3:hover {
  background: #dddddd;
  color: #d23e00;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none !important;
  outline-style: none !important;
}

*::-moz-selection {
  background: #00cfd2;
  color: #fff;
}

*::selection {
  background: #00cfd2;
  color: #fff;
}

body,
html {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Rubik", "Bahnschrift";
  font-size: 62.5%;
  outline-style: none !important;
  text-decoration: none !important;
  background: #ffffff;
  scroll-behavior: smooth;
}

.header {
  height: 12rem;
  background: #ffffff;
  -webkit-box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.178);
          box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.178);
  z-index: 4;
  width: 100vw;
  display: block;
}

.header .navbar {
  height: 12rem;
  padding: 0 3rem;
  width: 100vw;
}

.header .navbar .logo {
  float: left;
}

.header .navbar .logo img {
  height: 8rem;
}

.header .navbar .nav_items {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .navbar .nav_items > li {
  line-height: 12rem;
  list-style: none;
  position: relative;
}

.header .navbar .nav_items > li:hover > a {
  background: #d23e00;
  color: #ffffff;
}

.header .navbar .nav_items > li > a {
  text-transform: uppercase;
  text-decoration: none;
  color: gray;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media screen and (max-width: 768px) {
  .header {
    position: fixed;
  }
  .nav_items {
    display: none;
    height: 0;
    width: 0;
    overflow: hidden;
  }
}

.sidebar {
  display: none;
  height: auto;
  width: 100%;
  background: #fff;
  z-index: 6;
  position: absolute;
  top: 12rem;
}

.sidebar .sidebar_items {
  list-style: none;
}

.sidebar .sidebar_items li {
  font-size: 1.8rem;
  height: 5rem;
  width: 100%;
  line-height: 5rem;
  border-bottom: 0.1rem solid rgba(172, 172, 172, 0.178);
  padding: 0 4rem;
}

.sidebar .sidebar_items li:hover {
  background: #fcfcfc;
}

.sidebar .sidebar_items li a {
  display: block;
  font-size: 1.8rem;
  height: 5rem;
  width: 100%;
  line-height: 5rem;
  text-decoration: none;
  color: gray;
}

#chk {
  position: absolute;
  visibility: hidden;
}

#chk:checked ~ .sidebar {
  display: block;
}

#chk:checked ~ .black {
  height: 100vh;
  width: 100vw;
}

#chk_btn {
  display: none;
  font-size: 3rem;
  position: absolute;
  top: 0;
  right: 3rem;
  line-height: 12rem;
  color: #d23e00;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  #chk_btn {
    display: block;
  }
  .margin {
    margin-top: 12rem;
  }
}

.black {
  height: 0;
  width: 0;
  position: fixed;
  top: 12rem;
  left: 0;
  background: rgba(0, 0, 0, 0.212);
  z-index: -1;
}

.product_card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 40rem;
  width: 30rem;
  z-index: 1;
  border: 1px solid #b9b9b9;
  border-radius: 0.7rem;
  overflow: hidden;
}

.product_card img {
  height: 18rem;
  margin-bottom: 3rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.product_card h1 {
  font-size: 2.5rem;
}

.product_card .wave {
  position: absolute;
  -webkit-transform: translateY(30rem);
          transform: translateY(30rem);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
}

.product_card:hover {
  color: #fff;
}

.product_card:hover p {
  color: #fff;
}

.product_card:hover::before {
  height: 17.5rem;
}

.product_card:hover .wave {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.product_card:hover .btn2 {
  background: #ffff;
  color: #d23e00;
  border-radius: 5px;
}

.product_card:hover .btn2:hover {
  background: #e2e2e2;
  color: #d23e00;
}

.product_card:hover img {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.product_card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: #d23e00;
  height: 0;
  width: 100%;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.card {
  border-radius: 0.8rem;
  height: 45rem;
  width: 100%;
  padding: 2.5rem 2rem;
  position: relative;
  border: none;
  margin: 4rem 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card:hover {
  -webkit-transform: translateY(-1rem);
          transform: translateY(-1rem);
  -webkit-box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.123);
          box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.123);
}

.card .img {
  text-align: center;
}

.card .img img {
  height: 20rem;
}

.card .card_text {
  position: relative;
}

.card .card_text .card_head {
  padding: 4rem 0 2rem 0;
  text-transform: capitalize;
  font-size: 1.5rem;
}

.card .card_text .card_para {
  font-size: 1.5rem;
  padding: 0;
}

.card .card_btn {
  text-align: center;
  text-decoration: none;
  padding: 1.2rem 9rem;
  background: #d23e00;
  font-size: 1.5rem;
  color: #ffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem);
}

.card .card_btn:hover {
  background: #b12a01;
}

.short_contact {
  background: #d23e00;
}

.title {
  position: relative;
}

.title img {
  height: 15rem;
  width: 100%;
}

.title h1 {
  color: #d23e00;
  font-size: 3rem;
  position: absolute;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  left: 6rem;
}

footer {
  height: 10rem;
  width: 100%;
  background: #f3f3f3;
}

.social_icons i {
  font-size: 3rem;
  margin: 0 1rem;
  color: gray;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.social_icons i:hover {
  color: #d23e00;
}

.form-group label {
  font-size: 2.5rem;
  color: gray;
}

.form-group input {
  font-size: 2rem;
}

.form-group .form-text {
  font-size: 1.5rem;
}

.form-group #exampleFormControlTextarea1 {
  font-size: 1.5rem;
}

.contact p {
  font-size: 1.8rem;
  color: gray;
}

.contact h1 {
  font-size: 1.8rem;
  font-weight: bold;
  color: gray;
  margin-bottom: 1rem;
}

.product .img {
  text-align: center;
  border: 1px solid #c3c3c3;
}

.product .img .subimg img {
  height: 10rem;
  margin: 1rem;
}

.product .img img {
  height: 40rem;
}

.big_img {
  height: 20rem !important;
}

.details {
  position: relative;
}

.details h1 {
  color: #555555;
  margin: 2rem 0;
}

.tablesection {
  overflow: scroll;
}

.table {
  font-size: 1.5rem;
}

.table thead {
  text-align: center;
}

.table thead tr {
  background: #d23e00;
  color: #fff;
  font-size: 1.5rem;
}

@media screen and (max-width: 998px) {
  html {
    font-size: 55%;
  }
  .title h1 {
    font-size: 2rem;
  }
  .btn3 {
    padding: 1.5rem 15rem !important;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 45%;
  }
  .sidebarbtn {
    display: block;
  }
  .navbar ul {
    display: none;
  }
  .title h1 {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */